#contractBox{
    position:absolute;
    top: 400px;
    left: 882px;
    width: 350px;
    height: 380px;
    margin-top: 20px;
    border-left:1px solid rgba(153, 153, 153, 0.342);
    border-right:1px solid rgba(153, 153, 153, 0.342);
    border-bottom:1px solid rgba(153, 153, 153, 0.342);
    border-radius: 5px;
    overflow-y: scroll;
    scrollbar-width: none;
    box-shadow: 5px 5px 5px -2px rgb(0, 0, 0,.07) ;
}

#contractBox::-webkit-scrollbar {
    width: 3px;
}

#contractBox::-webkit-scrollbar-track {
    background-color: transparent;
}

#contractBox::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: gray;
}

#contractBox::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}

#contractBox div button:hover{
    color:#333;
}

.preContract{
    width:170px;
    height:50px;
    background-color: rgb(255,255,255);
    border-top:1px solid rgba(153, 153, 153, 0.342);
    border-left: 1px solid rgba(255,255,255);
    border-right: 1px solid rgba(153, 153, 153, 0.342);
    border-bottom:1px solid rgba(153, 153, 153, 0.342);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: rgba(170,170,170);
    font-weight:bold;
}

.contracted{
    width:170px;
    height:50px;
    background-color: rgb(255,255,255);
    border-top:1px solid rgba(153, 153, 153, 0.342);
    border-bottom:1px solid rgba(153, 153, 153, 0.342);
    border-left: 1px solid rgba(255,255,255);
    border-right: 1px solid rgba(255,255,255);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: rgba(170,170,170);
    font-weight:bold;
}
#PreContractBox{
    width:330px;
    height: 100px;
    margin: 5px auto;
    border:1px solid rgba(153, 153, 153, 0.342);
    border-radius:5px;
}
#PreContractBox ul{
    display: flex;
    flex-direction: column;
    float: left;
    padding: 10px 6px;
}

.PreContractType li{
    padding:7px 0;
}
#PreContractQty li{
    width:60px;
    padding:5px 0px;
    font-size: 12px;
}
#PreContractQty2 li{
    width:130px;
    padding:1.5px 0px;
}

.ContractedPrice{
    width:330px;
    font-size: 25px;
    text-align: center;
}

#ContractedBox{
    width:330px;
    height: 100px;
    margin: 5px auto;
    border:1px solid rgba(153, 153, 153, 0.342);
    border-radius:5px;
}
#ContractedBox ul{
    display: flex;
    flex-direction: column;
    float: left;
    padding: 10px;
}

#ContractedQty{
    margin: 0 30px;
}

.contractedb{
    color:rgba(225,35,67);
    font-weight:bold;
}

.contracteds{
    color:rgb(23, 99, 182);
    font-weight:bold;
}

.fixedHeader2{
    position: sticky;
    background-color:white;
	top: 0;
}