ul,li{
    list-style: none;
    display: flex;
}

a{
    text-decoration: none;
}

#header{
    width:1400px;
    margin:0 auto;
    display:flex;
}

.logo{
    width: 200px;
    height: 200px;
}

#nav{
    font-size: 30px;
    margin-left:50px;
}

#nav li{
    margin-top: 50px;
    line-height:100px;
    margin-right: 110px;
    vertical-align:center;
}

#nav li a{
    color:#333;
}

#nav li a:after{
    display: block;
    content: '';
    border-bottom: solid 3px rgba(32,201,151);
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

#nav li a:hover:after { 
    transform: scaleX(1); 
}


.Btn{
    width: 100px;
    height:50px;
    line-height:50px;
    margin-top: 75px;
    text-align: center;
    font-size: 20px;
    border: 1px solid rgba(153, 153, 153, 0.342);
    border-radius: 5px;
    color:black;
}

.Btn:hover{
    font-weight:bolder;
    color:rgba(255, 255, 255, 0.897);
    background-color:rgba(32,201,151);
}

.join{
    margin-left:30px;
}

#mainContainer{
    position:relative;
}

.mainCon1{
    position:absolute;
    left: 50%; 
    transform: translateX(-50%);
}

.mainCon2{
    position:absolute;
    top: 650px;
    left: 50%; 
    transform: translateX(-50%);
}

.mainCon3{
    position:absolute;
    /* top: 0px; */
    left: 0px;
}

.lastCon{
    width:100%;
    position:absolute;
    top: 1600px;
}



