@font-face {
    font-family: 'IM_Hyemin-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Regular.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IM_Hyemin-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'IM_Hyemin-Bold';
}

ul,li{
    list-style: none;
    display: flex;
}

a{
    text-decoration: none;
}

#headerBar{
    width:100%;
    height:200px;
    background-color: rgba(32,201,151);
}

#header{
    width:1600px;
    margin:0 auto;
    display:flex;
}

.logo{
    width: 260px;
    height: 140px;
    line-height:120px;
    margin-left:200px;
    margin-top:30px;
}

#nav{
    font-size: 30px;
    margin-left:40px;
}

#nav li{
    margin-top: 50px;
    line-height:100px;
    margin-right: 60px;
    vertical-align:center;
}

#nav li a{
    color:#333;
}

#nav li a:after{
    display: block;
    content: '';
    border-bottom: solid 3px rgba(255,255,255) ;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

#nav li a:hover{

}

#nav li a:hover:after { 
    transform: scaleX(1); 
    font-weight: bolder;
}

.Btn{
    width: 100px;
    height:50px;
    line-height:50px;
    margin-top: 75px;
    text-align: center;
    font-size: 20px;
    border: 1px solid rgba(153, 153, 153, 0.342);
    border-radius: 5px;
    background-color:rgba(255, 255, 255, 0.897);
    color:black;
}

.Btn:hover{
    font-size: 25px;
    color:black;
}

.idOn{
    height:50px;
    line-height:50px;
    margin-top: 75px;
    margin-right: 10px;
    padding: 0 10px;
    text-align: center;
    font-size: 20px;
    border: 1px solid rgba(153, 153, 153, 0.342);
    border-radius: 5px;
    background-color:rgba(255, 255, 255, 0.897);
    color:black;
}

.nameOn{
    margin-top:90px;
    margin-right:5px;
    text-indent:-30px;
    

}

.join{
    margin-left:30px;
}

#mainContainer{
    position:relative;
}

.mainCon1{
    position:absolute;
    left: 50%; 
    transform: translateX(-50%);
}

.mainCon2{
    position:absolute;
    top: 650px;
    left: 50%; 
    transform: translateX(-50%);
}

.mainCon3{
    position:absolute;
    /* top: 0px; */
    left: 0px;
}

.lastCon{
    width:100%;
    position:absolute;
    top: 1600px;
}



